@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Site: Grayson Fattaleh";
    ViewBag.header = "Home";
}


<body>
    <div class="inline_container">
        <div class="row center_text">
            <h1 class="center center_text">Grayson Fattaleh's Site</h1>
            <img src="~/img/personPhoto.jpg" class=" center round_corners" />

            <br />

            <p> I am psyched to learn a lot about IS 413 this year!</p>

            <p>
                I feel confident in our ability to get this done as a team. I am going to put a few jobs
                that I am interested in below.
            </p>
            <h2>Jobs I am interested in:</h2>
            <ul>
                <li>
                    Agent for the FBI
                </li>
                <li>
                    Full Stack Developer
                </li>
                <li>
                    Project manager
                </li>
            </ul>
        </div>
    </div>


</body>

